html {
    height:100%;
    box-sizing: border-box;
}


body {
    height:100%;
    letter-spacing: 0.1px;
    line-height: 1.7;
    margin: 1rem;
    padding:0;
    text-align: justify;
}

.header {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
}

        .sqs {
            width: 64px;
            height: 32px;
            margin-top: 54px;
            font-weight: 600;
        }

        .header ul{
            display: flex;
        }
        .header li{
            display: flex;
            margin-left: 1rem;
            margin-right: 0;
        }
        .header a {
            text-decoration: none;
            color: black;   
        }
        .header li a {
            background-color: #ff0000a8;
            font-weight: bold;
            padding: 1.3rem;
        }


/* main */

main {
    height: 100%
}

.wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

    h1 {
        font-size: 4rem;
        margin-top: 6rem;
    }

    h2 {
        font-size: x-large;
        margin: revert;
        margin-top: 3rem;
        margin-bottom: 1rem;
    }

    p {
        margin-bottom: 4rem;
        font-size: 0.9rem;
    }

    ul {
        padding: 0;

    }

    li {
        margin: 1rem;
        margin-left: 0;
        list-style: none;
    }

    footer {
        text-align: center;
        margin: 1rem;
        font-size: 0.9rem;
        }
    

/* レスポンシブ */

@media (min-width:700px) {
    body {
        margin: 0 6rem;
    }
}
@media (min-width:800px)  {
    body {
        margin: 0 9rem;
    }
}
@media (min-width:900px)  {
    body {
        margin: 0 12rem;
    }
}
@media (min-width:1000px)  {
    body {
        margin: 0 16rem;
    }
}
@media (min-width:1100px)  {
    body {
        margin: 0 18rem;
    }
}
@media (min-width:1150px)  {
    body {
        margin: 0 20rem; 
    }
}
@media (min-width:1250px) { 
    body {
        margin: 0 22rem;
    }
}
@media (min-width:1300px) { 
    body {
        margin: 0 28rem;
    }
}
